In [1]:
import pandas as pd

# raw annotations
df = pd.read_json("data/eigd/handball/event_annotations.jsonl", lines=True, orient="records")
df.head(5)

,match_id,subset_id,t_start,annotator,label_flat,file_pos,file_vid
0,48dcd3,00-06-00,263,A,event.game status changing event.static ball e...,48dcd3_00-06-00.h5,48dcd3_00-06-00.mp4
1,48dcd3,00-06-00,272,A,event.individual ball event.ball reception,48dcd3_00-06-00.h5,48dcd3_00-06-00.mp4
2,48dcd3,00-06-00,308,A,event.individual ball event.ball release.inten...,48dcd3_00-06-00.h5,48dcd3_00-06-00.mp4
3,48dcd3,00-06-00,324,A,event.individual ball event.ball reception,48dcd3_00-06-00.h5,48dcd3_00-06-00.mp4
4,48dcd3,00-06-00,366,A,event.individual ball event.ball release.inten...,48dcd3_00-06-00.h5,48dcd3_00-06-00.mp4

In [2]:
# number of events per annotator and sequence
# note, three matches are annotated from multiple experts to measure the "average human performance"
df.groupby(["match_id", "subset_id", "annotator"]).agg({"t_start": len}).rename(columns={"t_start": "num_annotations"})

                              num_annotations
match_id subset_id annotator
48dcd3   00-06-00  A                      247
         00-15-00  A                      166
         00-25-00  A                      230
         01-05-00  A                      215
         01-10-00  A                      227
ad969d   00-00-30  A                      220
                   B                      219
                   C                      228
         00-15-00  A                      181
                   B                      185
                   C                      192
         00-43-00  A                      169
                   B                      175
                   C                      175
         01-11-00  A                      159
                   B                      156
                   C                      174
         01-35-00  A                      168
                   B                      170
                   C                      180
e0e547   00-00-00  A                      295
         00-08-00  A                      265
         00-15-00  A                      233
         00-50-00  A                      186
         01-00-00  A                      246
e8a35a   00-02-00  A                      266
                   B                      258
                   C                      263
         00-07-00  A                      184
                   B                      181
                   C                      184
         00-14-00  A                      200
                   B                      199
                   C                      192
         01-05-00  A                      181
                   B                      192
                   C                      193
         01-14-00  A                      179
                   B                      180
                   C                      188
ec7a6a   00-30-00  A                      262
         00-53-00  A                      238
         01-19-00  A                      257
         01-30-00  A                      194
         01-40-00  A                      165

In [3]:
# event distribution per annotator
df.groupby("annotator")["label_flat"].value_counts()

annotator  label_flat
A          event.individual ball event.ball reception                                        2268
           event.individual ball event.ball release.intentional.pass.successful.untouched    2263
           event.game status changing event.referee decision.foul                             114
           event.individual ball event.ball release.intentional.shot.successful                94
           event.game status changing event.static ball event.kick-off                         87
                                                                                             ...
C          event.individual ball event.ball release.unintentional.successful interference       4
           event.game status changing event.referee decision.goal                               3
           event.game status changing event.referee decision.other                              3
           event.game status changing event.static ball event.after foul.free-throw/kick        3
           event.game status changing event.referee decision.foul.sanction.two min              2
Name: label_flat, Length: 71, dtype: int64

In [4]:
# number of events for all sequences (5 matches x 5 shots) without multiple annotations 
df.loc[df.annotator == "A"]["label_flat"].value_counts()

event.individual ball event.ball reception                                                    2268
event.individual ball event.ball release.intentional.pass.successful.untouched                2263
event.game status changing event.referee decision.foul                                         114
event.individual ball event.ball release.intentional.shot.successful                            94
event.game status changing event.static ball event.kick-off                                     87
event.game status changing event.referee decision.goal                                          86
event.game status changing event.static ball event.after foul.free-throw/kick                   84
event.ball possession.team A                                                                    70
event.ball possession.team B                                                                    66
event.individual ball event.ball release.intentional.shot.unsuccessful.blocked/intercepted      61
event.game status changing event.referee decision.ball out of field                             21
event.game status changing event.static ball event.ball in field.throw-in                       17
event.individual ball event.ball release.intentional.pass.unsuccessful.intercepted              14
event.game status changing event.referee decision.foul.sanction.yellow                          13
event.individual ball event.ball release.intentional.shot.unsuccessful.off target               12
event.game status changing event.static ball event.after foul.penalty                           11
event.game status changing event.referee decision.other                                         10
event.individual ball event.ball release.intentional.pass.unsuccessful.off target                9
event.individual ball event.ball release.intentional.shot.unsuccessful.goal frame                8
event.game status changing event.referee decision.foul.sanction.two min                          8
event.individual ball event.ball release.intentional.pass.successful.deflected                   6
event.game status changing event.static ball event.static other                                  6
event.individual ball event.ball release.unintentional.successful interference                   3
event.game status changing event.static ball event.game start                                    2
Name: label_flat, dtype: int64